@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Roboto', sans-serif;
}

h2{
    font-size: 20px;
    font-family: var(--fonte2);
    margin-bottom: 20px;
}


header {
    color: white;
    font-size: 30px;
    font-family: var(--fonte2);
    font-weight: px;
    background-image: linear-gradient(to bottom, #00BBC9, #00747C);
    margin: auto;
    text-align: center;
    height: 168px;
    border-radius: 0px 0px 15px 15px; 
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.168);
}



header > h1 {
    padding-top: 35px;
}

#data{
margin: auto;
text-align: center;
font-family: 'Roboto';
font-style: normal;
font-weight: lighter;
font-weight: 400;
font-size: 36px;
line-height: 42px;
color: #00747C;
padding-top: 15px;
padding-bottom: 15px;
}

button{
    padding: 5px;
}

.valor{
    padding: 20px 0px 40px 0px;
    margin: auto;
    height: 40px;
    width: 400px;
    
   
}

form > p{
    text-align: center;
    font-family: var(--fonte2);
    padding: 5px;
    margin-bottom: 10pxfont;
}

form{
    text-align: center;
    padding: 5px;
}

.botao{
    background-color: #00747C;
    border: none;
    border-radius: 4px;
    padding: 5px;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.327);
    margin-left: 10px;
}

.valorform{
    border: none;
    width: 150px;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 20px;

}



.botao:hover{
    background-color: #034c51;
}

.botao:active{
    background-color: #01a8b4;
}

.btc{
    background-color: #d0cece95;
    width: 485px;
    height: 200px;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.317);
}

.tituloBtc{
    color: #00747C;
    font-family: var(--fonte2);
    font-weight: bold;
    font-size: 25px;
    padding-left: 30px;
    padding-top: 20px;
}

.cardbtc{
    font-family: var(--fonte2);
    
}

.valorBtc{
    display: inline-block;
    color: #878787;
    padding-left: 30px;
    font-size: 80px;

}

.usd{
    display: inline-block;
    color: #878787;
    font-size: 30px;
    
}

#dolarBtc{
    font-family: var(--fonte2);
    color: #878787;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
}

.outrasmoedas{
    width: 100vw;
    display: inline-flex;
    padding-top: 20px;
    margin-top: 30px;
    align-items: center;
}

.nova{
    background-color: #d0cece95;
    width: 260px;
    height: 110px;
    border-radius: 15px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.379);
    margin: auto;
    
}

.titulospequenos{
    font-family: var(--fonte2);
    color: #00747C;
    font-weight: 600;
    padding: 10px 0px 5px 20px;
}

.moedaspequenas{
    font-family: var(--fonte2);
    color: #878787;
    padding: 0px 0px 0px 20px;
    font-size: 35px;
}

.cotacaopequenas{
    font-family: var(--fonte2);
    color: #878787;
    padding: 10px 0px 0px 25px;
    font-size: 15px;
}